<div class="row no-gutters" *transloco="let t" >
    <div class="col leveltwo-main-panel">
        <div class="leveltwo-main-contents">
            <h2>{{'aboutlevel2.MOVER' | transloco}}</h2>
            <hr />
        </div>
    </div>
</div>
<div class="row no-gutters row-aboutus-details">
    <div class="col">
        <div class="aboutus-content">
            <div class="vision">
                <h2>{{'aboutlevel2.VIS' | transloco}}</h2>
                <p>{{'aboutlevel2.MAELEZO2' | transloco}}
                </p>
                <hr/>
            </div>
            <div class="mission">
                <h2>{{'aboutlevel2.MIS' | transloco}}</h2>
                <p>{{'aboutlevel2.MAELEZO1' | transloco}}
                </p>
                <hr/>
            </div>
            <div class="ministry">
                <h2>{{'aboutlevel2.MINI' | transloco}}</h2>
                <p>{{'aboutlevel2.MAELEZO3' | transloco}}</p>
                    <hr/>
            </div>
            <div class="ministry">
                <h2>{{'aboutlevel2.HIST' | transloco}}</h2>
                <p>Lorem Ipsam...</p>
            </div>
        </div>
    </div>
</div>