@import 'src/environments/_variables';

.filter{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    // z-index: 2; 
    // position: relative;
    .filter-input{
        width: 30%;
        //margin-bottom: -30px;
    }
}

.mat-ink-bar {
    background-color: $gold_color !important;
}


button{
    border-color: #135029 !important;
    color: #135029 !important;
    
}
.mat-header-cell{
    font-weight: 600 !important;
    font-size: 15px;
}
.mat-column-address, .mat-column-decl_year{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 1 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@media (max-width:992px) {
    .filter{
        .filter-input{
            width: 100%;
        }
    }
}