<form [formGroup]="DocumentForm">
    <h2 mat-dialog-title>New Document</h2>
    <hr />
    <mat-dialog-content>
        <div class="form-row">
            <div class="form-group col-3">
                <img [src]="doc_linkurl" class="w-100" alt="profile picture" onerror="this.src='/assets/images/documents/default_document.jpg';">
                <input type="file" class="file-upload" (change)="onFileSelected($event)" accept="image/jpeg">
                <!--<button class="btn btn-secondary">Upload Photo</button>-->
            </div>
            <div class="form-group col-9">
                <div class="form-row">
                    <div class="form-group col">
                        <label>Document Title</label>
                        <input type="text" class="form-control form-control-sm" formControlName="doc_title"
                            placeholder="Enter Document Title">
                        <div *ngIf="DocumentForm.get('doc_title')?.touched && DocumentForm.get('doc_title')?.invalid"
                            class="text-danger">Document Title is required</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Document Category</label>
                        <input type="text" class="form-control form-control-sm" formControlName="doc_category"
                            placeholder="Enter Document Category">
                        <div *ngIf="DocumentForm.get('doc_category')?.touched && DocumentForm.get('doc_category')?.invalid"
                            class="text-danger">Document Category is required</div>
                    </div>
                </div>
                <!--<div class="form-row">
                    <div class="form-group col">
                        <label>Title Start</label>
                        <input type="text" class="form-control form-control-sm" formControlName="start_date">
                        <div *ngIf="DocumentForm.get('start_date')?.touched && DocumentForm.get('start_date')?.invalid"
                            class="text-danger">Start date is required</div>
                    </div>
                    <div class="form-group col">
                        <label>Title End</label>
                        <input type="text" class="form-control form-control-sm" formControlName="start_end" >
                    </div>
                </div>-->
                <!--<div class="form-row">
                    <div class="form-group col">
                        <label>Biography</label>
                        <textarea class="form-control form-control-sm" formControlName="biography"
                            placeholder="Enter Name"></textarea>
                        <div *ngIf="DocumentForm.get('biography')?.touched && DocumentForm.get('biography')?.invalid"
                            class="text-danger">Biography is required</div>
                    </div>
                </div>-->
            </div>
        </div>



    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="btn btn-secondary" (click)="onClose()" style="margin-right: 10px;">Cancel</button>
        <button [disabled]="DocumentForm.invalid" type="submit" (click)="onSubmit()"
            class="btn btn-success">Submit</button>
    </mat-dialog-actions>
</form>