<form [formGroup]="DocumentForm">
    <h2 mat-dialog-title>Update Document</h2>
    <hr />
    <mat-dialog-content>
        <div class="form-row">
            <div class="form-group col-lg-3 col-sm-3">
                <img [src]="doc_linkurl" class="w-100" alt="ministry document" onerror="this.src='/assets/images/documents/default_document.jpg';">
                    <input type="file" class="file-upload" (change)="onFileSelected($event)" accept="image/jpeg">
            </div>
            <div class="form-group col-lg-9 col-sm-12">
                <div class="form-row">
                    <div class="form-group col">
                        <label>Document Title</label>
                        <input type="text" class="form-control form-control-sm" formControlName="doc_title"
                            placeholder="-Enter Document Title-">
                        <div *ngIf="DocumentForm.get('doc_title')?.touched && DocumentForm.get('doc_title')?.invalid"
                            class="text-danger">Document Title is required</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Document Category</label>
                        <input type="text" class="form-control form-control-sm" formControlName="doc_category"
                            placeholder="-Enter Document Category-">
                            <div *ngIf="DocumentForm.get('doc_category')?.touched && DocumentForm.get('doc_category')?.invalid"
                            class="text-danger">Document Category is required</div>
                    </div>
                </div>
                <!--<div class="form-row">
                    <div class="form-group col">
                        <label>Title Start Date</label>
                        <div class="input-group">
                          <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                           formControlName="start_date" ngbDatepicker #d1="ngbDatepicker" [startDate]="fromDate!">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                          </div>
                        </div>
                        <div *ngIf="DocumentForm.get('start_date')?.touched && DocumentForm.get('start_date')?.invalid"
                            class="text-danger">Start date is required</div>
                      </div>
                      <div class="form-group col">
                        <label>Title Start Date</label>
                        <div class="input-group">
                          <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                           formControlName="end_date" ngbDatepicker #d2="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                          </div>
                        </div>
                      </div>
                </div>-->
                <!--<div class="form-row">
                    <div class="form-group col">
                        <label>Biography</label>
                        <textarea class="form-control form-control-sm" formControlName="biography"
                            placeholder="-Enter Biography-"></textarea>
                        <div *ngIf="DocumentForm.get('biography')?.touched && DocumentForm.get('biography')?.invalid"
                            class="text-danger">Biography is required</div>
                    </div>
                </div>-->
            </div>
        </div>



    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button  class="btn btn-secondary" (click)="onClose()" style="margin-right: 10px;">Cancel</button>
        <button type="submit" (click)="onSubmit()"
            class="btn btn-success">Submit</button>
    </mat-dialog-actions>
</form>

<!-- [disabled]="DocumentForm.invalid"  -->