<div class="row no-gutters" *transloco="let t">
    <div class="col-md-12 col-lg-3">
        <div class="leader-container">

            <div class="resources-container shadow-sm">
                <div class="resources-header">
                    <h2>{{'habari.EXEC' | transloco}}</h2>
                </div>
                <div class="resources-details">

           <div @fade  class="leader-one" *ngIf="showMinisters" (mouserover)="stopTimer()">
            <div  class="img-container" style="background-image: url('{{minister.picture}}');"  [routerLink]="['/staff/biography',minister.id]">
                
                <div class="link-content" >
                    <h4>{{minister.name}}</h4>
                    <h5>{{minister.leader_title}}</h5>
                    </div>
            </div> 
           </div>
           <div @fade class="leader-one" *ngIf="!showMinisters">
            <div   class="img-container" style="background-image: url('{{secretary.picture}}');" [routerLink]="['/staff/biography',secretary.id]">
                
                <div class="link-content" >
                    <h4>{{secretary.name}}</h4>
                    <h5>{{secretary.leader_title}}</h5></div>
            </div> 
           </div>
           <div @fade class="leader-two" fxHide.lt-xs fxHide.xs *ngIf="showMinisters">
                <div class="img-container" style="background-image: url('{{deputy_miniter.picture}}');" [routerLink]="['/staff/biography',deputy_miniter.id]">
                    
                    <div class="link-content" >
                        <h4>{{deputy_miniter.name}}</h4>
                        <h5>{{deputy_miniter.leader_title}}</h5>
                        </div>
                </div> 
            </div>
            <div @fade class="leader-two" fxHide.lt-xs fxHide.xs *ngIf="!showMinisters">
                <div class="img-container" style="background-image: url('{{deputy_secretary.picture}}');" [routerLink]="['/staff/biography',deputy_secretary.id]">
                    
                    <div class="link-content" >
                        <h4>{{deputy_secretary.name}}</h4>
                        <h5>{{deputy_secretary.leader_title}}</h5>
                        </div>
                </div> 
            </div>

            </div>
            </div>


        </div>
    </div>
    <div class="col-md-12 col-lg-9">
        <div class="news-container">
            <div class="news-contents shadow-sm  bg-white">
                <div class="section_row_title">
                    <h2>{{'habari.KICHWA' | transloco}}</h2>
                    <hr class="section_header_line" />
                </div>


                <div class="row no-gutters news_row_content" >
                    <div class="col-lg-6 col-md-12 col-sm-12" >
                        <div style="background-image: url('{{news.img}}'); " class="news-img" >
                            <!-- <div class="news-img-link" *ngIf="show_img_buttom">
                                <button  class="read-button">READ MORE</button>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="news-details" >
                            <!-- <div class="news-detals-header" style="margin-bottom: 20px; font-size: 20px; font-weight: bold; font-family: $Bebas_font;">Latest News</div> -->
                            <h2>{{news.title}}</h2>
                            <h3>{{news.date}}</h3>
                            <h4>
                              {{news.introduction}}
                            </h4>
                            <button [routerLink]="['whatsnew/newsandevents/view',news.id]" class="button">{{'habari.ZAIDI' | transloco}}</button>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>

</div>


<!-- <div style="background-image: url('/assets/images/leaders/minister.jpg');" class="link-img">
    <div class="link-content">
        <h3>Hon. Dr. Damas D. Ndumbaro</h3>
        <h4>MINISTER</h4>
    </div>
</div> -->