<div class="row no-gutters">
    <div class="col leveltwo-main-panel">
        <div class="leveltwo-main-contents">
            <h2>CONTACT US</h2>
            <hr/>
        </div>
    </div>
</div>
<div class="row no-gutters row-aboutus-details">
    <div class="col">
        <div class="aboutus-content">
            <div class="telephone">
                <h2>MINISTRY'S TELEPHONE</h2>
                <p>+255 22 2861870   /1/2/3/</p>
                <hr/>
            </div>
            <div class="all">
                <h2>TELEPHONE NUMBERS</h2>
                <p>+255 22 2864216 – Mhe Waziri,<br/>
                    +255 22 2864227 – Mhe Naibu Waziri<br/>
                    +255 22 2864230 – Katibu Mkuu,<br/>
                    +255 22 2861874 – Naibu Katibu Mkuu<br/>
                    +255 22 2864236 – Mkurugenzi wa Utawala<br/>
                    +255 22 864249 – Mkurugenzi Misitu na Nyuki.<br/>
                    +255 22 2864258 – Mkurugenzi wa Mambo ya Kale,<br/>
                    +255 22 2864267 – Idara ya Mambo ya Kale,<br/>
                    +255 22 2864271 – Mkurugenzi Utalii,<br/>
                    +255 22 2864275 – Idara ya Utalii,<br/>
                    +255 22 2864241 – Mkurugenzi Sera na Mipango,<br/>
                    +255 22 2864243 – Mhasibu Mkuu,<br/>
                    +255 22 2864239 – Ukaguzi wa Ndani,<br/>
                    +255 22 2864247 – Kitengo cha Ugavi,<br/>
                    +255 22 864238 – Mwanasheria,<br/>
                    +255 22 2864257 – Mshauri wa Misitu.</p>
                <hr/>
            </div>
            <div class="fax">
                <h2>FAX NUMBERS</h2>
                <p>+255 22 2864217 – Mhe Waziri<br/>
                    +255 22 2864234 – Katibu Mkuu,<br/>
                    +255 22 2864237 – DAHRM,<br/>
                    +255 22 2864246 – Mhasibu Mkuu<br/>
                    +255 22 2864255 – Mkurugenzi - Misitu na Nyuki,<br/>
                    +255 22 2864259 – Mkurugenzi - Mambo ya Kale,<br/>
                    +255 22 2864272 – Mkurugenzi- Utalii</p>
                <hr/>
            </div>
            <div class="email">
                <h2>EMAIL</h2>
                <p>ps@maliasili.go.tz</p>
                <hr/>
            </div>
            <div class="address">
                <h2>ADDRESS</h2>
                <p>Wizara ya Maliasili na Utalii,<br/>
                    Barabara ya Waziri Mkuu,<br/>
                    S. L. P 1351,<br/>
                    40472, Dodoma, Tanzania</p>
                    
            </div>
        </div>
    </div>
</div>