<form [formGroup]="ContactForm">
    <h2 mat-dialog-title>New Contact</h2>
    <hr />
    <mat-dialog-content>
        <div class="form-row">
            <div class="form-group col-lg-3 col-sm-3">
               
            </div>
            <div class="form-group col-lg-9 col-sm-12">
                <div class="form-row">
                    <div class="form-group col">
                        <label>Description</label>
                        <input type="text" class="form-control form-control-sm" formControlName="contact_des"
                            placeholder="-Enter Description-">
                        <div *ngIf="ContactForm.get('contact_des')?.touched && ContactForm.get('contact_des')?.invalid"
                            class="text-danger">Description is required</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label >Category</label>
                        <select formControlName="category" class="form-control form-control-sm">
                          <option selected value="null">-Select Title-</option>
                          <option value="Tourism">Tourism</option>
                          <option value="Forests and Bees">Forests and Bees</option>
                          <option value="Antiquities">Antiquities</option>
                          <option value="Wild Life">Wild Life</option>
                        </select>
                        <div *ngIf="ContactForm.get('category')?.touched && ContactForm.get('category')?.invalid"
                            class="text-danger">Category is required</div>
                      </div>
                </div>
                <!--<div class="form-row">
                    <div class="form-group col">
                        <label>Title Start Date</label>
                        <div class="input-group">
                          <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                           formControlName="start_date" ngbDatepicker #d1="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                          </div>
                        </div>
                        <div *ngIf="ContactForm.get('start_date')?.touched && ContactForm.get('start_date')?.invalid"
                            class="text-danger">Start date is required</div>
                      </div>
                      <div class="form-group col">
                        <label>Title Start Date</label>
                        <div class="input-group">
                          <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                           formControlName="end_date" ngbDatepicker #d2="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                          </div>
                        </div>
                      </div>
                </div>-->
                <div class="form-row">
                    <div class="form-group col">
                        <label>mobile </label>
                        <textarea class="form-control form-control-sm" formControlName="mobile"
                            placeholder="-Enter mobile-"></textarea>
                        <div *ngIf="ContactForm.get('mobile')?.touched && ContactForm.get('mobile')?.invalid"
                            class="text-danger">mobile is required</div>
                    </div>
                </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label>email </label>
                            <textarea class="form-control form-control-sm" formControlName="email"
                                placeholder="-Enter email-"></textarea>
                            <div *ngIf="ContactForm.get('email')?.touched && ContactForm.get('email')?.invalid"
                                class="text-danger">email is required</div>
                        </div>
                    </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label>fax </label>
                                <textarea class="form-control form-control-sm" formControlName="fax"
                                    placeholder="-Enter fax-"></textarea>
                                <div *ngIf="ContactForm.get('fax')?.touched && ContactForm.get('fax')?.invalid"
                                    class="text-danger">fax is required</div>
                            </div>
                    </div>
                </div>
            </div>
        



    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button  class="btn btn-secondary" (click)="onClose()" style="margin-right: 10px;">Cancel</button>
        <button  [disabled]="ContactForm.invalid" type="submit" (click)="onSubmit()"
            class="btn btn-success">Submit</button>
    </mat-dialog-actions>
</form>

<!-- [disabled]="ContactForm.invalid"  -->