<div class="row no-gutters">
    <div class="col leveltwo-main-panel">
        <div class="leveltwo-main-contents">
            <h2>BIOGRAPHY</h2>
            <hr/>
        </div>
    </div>
</div>
<div class="main">
    <div class="bio shadow-sm">
        <div class="img" style="background-image: url('{{biography.picture}}');" >
        </div>
        <div class="col social_media">
            <a href="" class="me-4">
              <i class="fa fa-facebook-f fa-2x"></i>
            </a>
            <a href="" class="me-4">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="" class="me-4">
              <i class="fa fa-instagram fa-2x"></i>
            </a>
          </div>
        <div class="title">
            <h2>{{biography.name}}</h2>
            <h3>{{biography.leader_title}}</h3>
        </div>
        <div class="details">
            <p>{{biography.bio}}</p>
        </div>
    </div>
</div>

