<div class="row no-gutters">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="background-image: url('{{header_img}}'); " class="division-header-img" routerLink="/tourism">
            <div class="division-header">
                <h2>
                    About Forest And Beekeeping Division
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters about-row">
    <div class="col-sm-12 col-md-12 col-lg-9">
        <div class="about-details">
            <h3>
                Departments and Sectors
            </h3>
            <hr class="about_line" />
            <div class="content">
                Forestry and Beekeeping Division (FBD) is one of the divisions in the Ministry of Natural Resources and Tourism. It is responsible for the Sectoral Policy, Planning, Manpower, Research, Training, Statistics, Licensing and Quality control of Forestry and Beekeeping agents.
            </div>
            <div class="content">
                The division has four sections namely:  Forestry Development, Beekeeping Development, Forest Utilisation, Research, Training and Statistics and headed by Assistant Directors. 
            </div>
            <div class="content">
                Forestry and Beekeeping sector is guided by the National Forest and Beekeeping Policies adopted in March 1998, whose overall goals are to enhance the contribution of the forest and beekeeping sector to the sustainable development of Tanzania and the conservation and management of her natural resources for the benefit of present and future generations. The National Forest and Beekeeping Programme (NFBKP) is a ten-year framework (2001-2010) which guides implementation of the Forest and Beekeeping Policies. The Forest Act (No. 14 of 2002) and Beekeeping Act (No. 15 of 2002) provide legal framework for the management of forests and bee resources.
            </div>
            <br/><br/>
            <h3>
                Role and Functions
            </h3>
            <hr class="about_line" />
            <div class="content">
                The responsibilities of FBD are:<br/>
                • Policy development and Law enforcement;<br/>
                • Monitoring and evaluation of Policy implementation;<br/>
                • Human resources development;<br/>
                • Management of Forestry and Beekeeping training institutions;<br/>
                • Management of forest reserves including forest plantations, bee reserves and apiaries;<br/>
                • Rehabilitation of degraded areas;<br/>
                • Provision of forest and beekeeping extension services;<br/>
                • Management of forest and bee resources in general lands; and
                • Identification of research areas, prioritization and coordination of research undertaken by various institutions and organizations.
            </div>
            <br/><br/>
            <h3>
                Sections of the Division
            </h3>
            <hr class="about_line" />
            <div class="content">
                The Division is divided into four sections which are:
            </div>
            <br/><br/>
            <h3>
                1. Forestry Development
            </h3>
            <hr class="about_line" />
            <div class="content">
                Functions<br/>
                • To promote establishment of forest estates;<br/>
                • To promote investments in forestry;<br/>
                • To promote and coordinate forestry extension services and publicity;<br/>
                • To prepare guidelines on management of forests;<br/>
                • To coordinate environmental impact assessment of forestry investments;<br/>
                • To mobilize resources from internal and external sources; and<br/>
                • To foster cooperation with local and international institutions in forestry.
            </div>
            <div class="content">
                Under Forestry development there are several units including:
            </div>
            <br/>
            <h3>
                Publicity Extension zones
            </h3>
            <hr class="about_line" />
            <div class="content">
                Publicity zones were established in 1980s as an extended arm of the Extension and Publicity Unit (EPU) of FBD.
            </div>
            <div class="content">
                The role of the Zonal Extension Offices (ZEOs) is to raise awareness of the district staff, local leaders and communities with regard to the opportunities, rights, and responsibilities available under community forestry.
            </div>
            <br/><br/>
            <h3>
                There are seven zones namely
            </h3>
            <hr class="about_line" />
            <div class="content">
                i. Southern zone based in Songea (Ruvuma, Mtwara and Lindi);<br/>
                ii. Central zone based in Dodoma (Dodoma, Manyara and Singida);<br/>
                iii. Eastern zone base in Kibaha (Coast region, Dar es Salaam and Morogoro);<br/>
                iv. Northern zone based in Moshi (Kilimanjaro, Tanga and Arusha);<br/>
                v. Western zone based in Kigoma (Kigoma, Kagera and Tabora);<br/>
                vi. Lake zone based in Shinyanga (Shinyanga, Mwanza and Mara); and<br/>
                vii. Southern Highlands zone based in Mbeya (Mbeya, Iringa and Rukwa).
            </div>
        </div>
    </div>
    
    <!-- links components -->
    <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="about-links">
            <div class="img-container" *ngFor="let card of cards">
                <div style="background-image: url('{{card.img}}'); " class="link">
                    <div class="link-content">
                        {{card.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


