<div class="row no-gutters section_row" *transloco="let t">
    <div class="section_row_title">
      <h2>{{'stat.KICHWA3' | transloco}}</h2>
      <hr class="section_header_line" />
    </div>
  </div>
<div class="row no-gutters statistics_row">
    <div class="col-sm-6 col-md-6 col-lg-3 link-img">
        <div class="img-container" style="background-image: url('/assets/images/tourism/tourism_serengeti.jpg');" routerLink="/attractions/mapori">
            <!-- <div  class="link-img"></div> -->
            <div class="link-content" >
                <h4>MAPORI</h4>
            </div>
        </div> 
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 link-img">
        <div class="img-container" style="background-image: url('/assets/images/wildlife_girrafe.jpg');" routerLink="/attractions/hifadhi">
            <!-- <div  class="link-img"></div> -->
            <div class="link-content">
                <h4>HIFADHI</h4>
            </div>
        </div> 
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 link-img">
        <div class="img-container" style="background-image: url('/assets/images/antiquities/kalenga.jpg');" routerLink="/attractions/malikale">
            <!-- <div  class="link-img"></div> -->
            <div class="link-content">
                <h4>MALIKALE</h4>
            </div>
        </div> 
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 link-img">
        <div class="img-container" style="background-image: url('/assets/images/antiquities/olduvai_gorge4.jpg');" routerLink="/attractions/misitu">
            <!-- <div  class="link-img"></div> -->
            <div class="link-content">
                <h4>MISITU</h4>
            </div>
        </div> 
    </div>
</div>  
<!-- <div class="more-statistics">
    <button mat-flat-button class="button">VIEW MORE</button>
</div> -->
