<div class="row no-gutters">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="background-image: url('{{header_img}}'); " class="division-header-img" routerLink="/tourism">
            <div class="division-header">
                <h2>
                    About Wildlife Division
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters about-row">
    <div class="col-sm-12 col-md-12 col-lg-9">  
        <div class="about-details">
            <h3>
                Departments and Sectors
            </h3>
            <hr class="about_line" />
            <div class="content">
                The Wildlife conservation in Tanzania dates back in 1891, when laws controlling hunting were first enacted by the German rule. These laws regulated the off take, hunting methods and trade in wildlife, with some endangered species being fully protected. Selous Game Reserve was the first game reserve established in 1905 by the Germans and was gazetted in 1922. Game Reserves were chosen mainly for their concentration of big game rather than their biological diversity.
            </div>
            <div class="content">
                The British Government established the Game Department in 1921. The role of the game department was to administer game reserves, enforce hunting regulation and protect people and crops from problem animals. Later on Ngorongoro crater and Serengeti Game Reserve were established in 1928 and 1929 respectively.
            </div>
            <div class="content">
                Tanganyika was famous for its species diversity, numbers specifically of big game, and spectacular landscapes. In those early days it attracted a steady stream of wealthy hunters. The tourist hunting industry dates back in 1946 when game controlled areas were established and divided into hunting blocks whereby Professional hunters and their clients could hunt trophy animals.
            </div>
            <div class="content">
                In 1961 there were three (3) National Parks, nine (9) Game Reserves and the Ngorongoro Conservation Area. After independence it was the policy of the Government to continue with the extension of the Game Reserves and National Parks, and many new parks and reserves were gazetted.
            </div>
            <br/><br/>
            <h3>
                Regulation
            </h3>
            <hr class="about_line" />
            <div class="content">
                - Administration and regulation of wildlife and wetlands laws,<br/>
                - Formulation of sound Policy, strategies and programmes for policy implementation<br/>
                - Issue and administer all types of wildlife resources user rights and trading licenses<br/>
                - Administer management plans for Wildlife PAs and Ramsar sites.<br/>
            </div>
            <br/><br/>
            <h3>
                Facilitation and coordination
            </h3>
            <hr class="about_line" />
            <div class="content">
                - Coordinate and monitor policy implementation and give due recognition to operations of other sectors policies<br/>
                - Promotion of participation of stakeholders in conservation and sustainable utilization of wildlife and wetland resources,<br/>
                - Promotion of wildlife and wetlands resources for economic development, and<br/>
                - Promotion of information sharing and exchange of expertise nationally, regionally and internationally.<br/>
            </div>
            <br/><br/>
            <h3>
                Service provider
            </h3>
            <hr class="about_line" />
            <div class="content">
                - Provide technical know how to stakeholders<br/>
                - Provide professional standards in conservation<br/>
            </div>
            <br/><br/>
            <h3>
                Mandates
            </h3>
            <hr class="about_line" />
            <div class="content">
                Administratively the wildlife sector has divided its mandates into Central and Local Governments. The Central Government includes ministries, executive agencies, NCAA, TANAPA Parastatal organization and independent departments, while the Local Government includes District Councils, Wards and Village Councils. The role of Central Governments is to provide clear national policy and regulatory framework stimulate and promote participation of various stakeholders in the implementation of policy, manage core wildlife protected areas and providing professional standards and technical assistance in conservation and utilization of resources.
            </div>
            <br/><br/>
            <h3>
                Agencies Responsible in Managing the Wildlife and Wetlands in Tanzania
            </h3>
            <hr class="about_line" />
            
            <mat-accordion >
                <mat-expansion-panel hideToggle class="agencies-expansion-panel">
                  <mat-expansion-panel-header >
                    <mat-panel-title class="expansion-title">
                        Wildlife Division (WD)
                    </mat-panel-title>
                  </mat-expansion-panel-header >
                  <div class="expansion-content">Wildlife Division (WD) is responsible for the management of Game Reserves (GRs), Game Controlled Areas (GCAs) and all wildlife outside protected area boundaries and Wetlands. Also the WD facilitates the establishment of Wildlife Management Areas (WMAs), creates awareness and disseminates information about wildlife management to the village communities in their village lands.</div>
                </mat-expansion-panel>

                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title class="expansion-title">
                        Tanzania National Parks Authority (TANAPA) 
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="expansion-content">
                    Tanzania National Parks Authority (TANAPA) is a parastatal organization responsible for the management of National Parks.
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                      <mat-panel-title class="expansion-title">
                        Ngorongoro Conservation Area Authority (NCAA) 
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="expansion-content">
                        Ngorongoro Conservation Area Authority (NCAA) a parastatal organization responsible for the management of Ngorongoro Conservation Area.
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title class="expansion-title">
                    District Councils 
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-content">
                    District Councils are responsible for conservation of wildlife outside national parks, game reserves and Ngorongoro Conservation Area, and protect people’s lives and properties from dangerous and destructive wild animals.
                </div>
                </mat-expansion-panel>

                <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title class="expansion-title">
                        Tanzania Wildlife Research Institute (TAWIRI) 
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-content">
                    Tanzania Wildlife Research Institute (TAWIRI) administer wildlife research in Tanzania with an overall objective of providing scientific information and advice to the government and wildlife management authorities on the sustainable conservation of wildlife.
                </div>
                </mat-expansion-panel>

                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title class="expansion-title">
                            College of African Wildlife Management MWEKA (CAWM)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="expansion-content">
                        College of African Wildlife Management MWEKA (CAWM) provides need-based training to protected area and wildlife managers by offering a variety of awards for long courses in Wildlife Management.
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <br/><br/>
            <h3>
                Policy and Legal Framework
            </h3>
            <hr class="about_line" />
            <div class="content">
                Laws relevant to wildlife conservation include the Wildlife Conservation Act No. 5 of 2009 and its subsidiary legislations:<br/>
                - Ngorongoro Conservation Act (CAP 284 R.E. 2002)<br/>
                - Tanzania National Parks Act (CAP 282 R.E. 2002)<br/>
                - Tanzania Wildlife Research Institute Act (CAP 260 R.E. 2002)<br/>
                - Mweka CAP R.E.2002)<br/>
                - The Environmental Management Act 2004<br/>
                - The Regulation of Land Tenure (Established Villages Act (CAP 267 R.E. 2002)<br/>
                - Local Government (District Authorities) Act (CAP 287 R.E. 2002)<br/>
                - Natural Resources Act (CAP 259 R.E. 2002)<br/>
                - Forest Act No. 14 2002<br/>
                - Fisheries Act (CAP 279 R.E. 2002)<br/>
                - Tanzania Forest Research Institute Act (CAP 277 R.E. 2002)<br/>
                - Tanzania Fisheries Research Institute Act (CAP 280 R.E. 2002)<br/>
                - National Museum of Tanzania Act (CAP 281 R.E. 2002).<br/>
            </div>
        </div>
    </div>
    
    <!-- links components -->
    <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="about-links">
            <div class="img-container" *ngFor="let card of cards">
                <div style="background-image: url('{{card.img}}'); " class="link">
                    <div class="link-content">
                        {{card.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
