<mat-card>
    <div class="heading">
        <h2>Beekeeping</h2>
        <hr />
    </div>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="card card-stats" >
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                 <i class="material-icons text-success" (click)="onAddslider()">add_circle</i>
                               
                            </div>
                            <h3 class="card-category"><b>Add Slider Contents</b> </h3>
                           
                        </div>
                        <div class="card-footer bg-success">
                            <div class="card-icon text-center">
                                <i class="material-icons text-white">visibility</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="card card-stats ">
                        <div class="card-header card-header-success card-header-icon ">
                            <div class="card-icon">
                               <i class="material-icons text-success" (click)="onAddmedia()">add_circle</i>
                            </div>
                            <h3 class="card-category"><b>Add Media Contents</b></h3>
                        </div>
                        <div class="card-footer bg-success">
                            <div class="card-icon text-center">
                                <i class="material-icons text-white" >visibility</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons text-success" (click)="onAddcard()">add_circle</i>
                            </div>
                            <h3 class="card-category"><b>Add Cards Contents</b></h3>
                        </div>
                        <div class="card-footer bg-success">
                            <div class="card-icon text-center">
                                <i class="material-icons text-white" >visibility</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                              <i class="material-icons text-success" href="" (click)="onAddabout() ">add_circle</i>
                            </div>
                            <h3 class="card-category"><b>Add About Contents</b></h3>
                        </div>
                        <div class="card-footer bg-success">
                            <div class="card-icon text-center">
                                <i class="material-icons text-white" >visibility</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>