
$gold_color: #FFAA00;
$green_color: #3c9640; // #135029;
$back_color:whitesmoke;
$mnrt_font_family: "Quicksand", sans-serif;
$Bebas_font:'Bebas Neue', cursive;
$grey1_font_color:#18191A;
$grey2_font_color:#242526;
$grey3_font_color: #3f3f3f;

