<div class="row no-gutters">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="background-image: url('{{header_img}}'); " class="division-header-img" routerLink="/tourism">
            <div class="division-header">
                <h2>
                    About Antiquities Division
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters about-row">
    <div class="col-sm-12 col-md-12 col-lg-9">
        <div class="about-details">
            <h3>
                ROLES AND RESPONSIBILITIES ANTIQUITIES DIVISION
            </h3>
            <hr class="about_line" />
            <div class="content">
                The Division of Antiquities as a Government institution responsible for conservation, preservation,
                protection and management of cultural heritage resources has the following roles:-
            </div>
            <div class="content">
                • Protecting, preserving and developing of the country’s historical sites, approving of matters related
                to restoration, rehabilitation, documentation and revitalisation of historical monuments, areas and
                sites;<br />
                • Collecting, documenting, conserving and developing Tanzania’s architectural and cultural heritage
                resources, including traditional architectural heritage;<br />
                • Co-ordination and undertaking of archaeological research and related activities, issuing permits
                (licenses) to local and foreign researchers for excavation, collection, export and film
                production;<br />
                • Advising the Government on research and conservation issues relating to cultural heritage as
                stipulated in the Antiquities Act No. 10 of 1964 and its amendment No.22 of 1979.<br />
            </div>
            <br /><br />
            <h3>
                LEGAL, POLICY FRAMEWORK AND INTERNATIONAL OBLIGATIONS
            </h3>
            <hr class="about_line" />
            <div class="content">
                The legal protection of Tanzania cultural heritage resources is effected through Antiquities Act of 1964
                (Act No. 10 0f 1964 Cap 550) which is the principal legislation and the Antiquities (Amendment) Act of
                1979 (Act No. 20 of 1979) as well as Rules and Regulations of 1981, 1991, 1995 and 2002.
            </div>
            <div class="content">
                The 1964 Act repealed the Monument Preservation Ordinance of 1937 and 1949 and enlarged the scope of
                heritages that need to be conserved. The legislation offers general protection to objects or structures,
                which are of archaeological, palaentological, historic, architectural, artistic, ethnological or
                scientific interest.
            </div>
            <div class="content">
                Likewise, Division operates by using the Cultural Heritage Policy of 2008; The 1970 UNESCO Convention on
                the means of prohibiting and preventing the illicit import, export and transfer of ownership of Cultural
                property; The 1972 UNESCO Convention concerning the protection of the world cultural and natural
                heritage; and, The 1954 UNESCO Convention on the protection of cultural Property in the Event of Armed
                Conflict.
            </div>
            <br /><br />
            <h3>
                TANZANIA CULTURAL HERITAGE RESOURCES
            </h3>
            <hr class="about_line" />
            <div class="content">
                Tanzania is well endowed with abundant significant cultural heritage resources which range from the
                Pliocene period about four million years ago to present time. These resources are categorized into seven
                groups as follows:-
            </div>
            <div class="content">
                • Archaeological or Paleontological sites such Olduvai Gorge, Laetoli Footprint, Isimila Stone Age site,
                Engaruka Ruins;<br />
                • Historical sites such as Kaole Ruins, Kunduchi Ruins, Kilwa Kisiwani Ruins, Songo Mnara Ruins;<br />
                • Historical towns such as Bagamoyo, Kilwa Kivinje, Mikindani;<br />
                • Traditional Settlements such as Kalenga in Iringa and Bweranyange in Kagera;<br />
                • Historic Buildings like Colonial Administrative Buildings (BOMAs) in many Districts in Tanzania;<br />
                • Sites with special memories like Colonialists Cemetery, Cemeteries of World War I and II and Defensive
                Walls;<br />
                • Natural Features and Structures such as Mbozi Meteorite, Amboni Caves and Kondoa Rock Art Shelters to
                name only a few.<br />
            </div>
            <br /><br />
            <h3>
                HISTORICAL BACKGROUND OF ANTIQUITIES DIVISION
            </h3>
            <hr class="about_line" />
            <div class="content">
                The Division of Antiquities is a statutory body within the Ministry of Natural Resources and Tourism
                responsible for conservation, preservation, protection and management of cultural heritage resources in
                Tanzania. The History of Antiquities Division and of Conservation of cultural heritage in Tanzania dates
                back to the colonial period in 1937 when the legislation to protect and preserve historical moments;
                Monuments Preservation Ordinance 1937 was enacted by the Colonial Government.
            </div>
            <div class="content">
                The Antiquities Division as it was, then called was first established in 1957 as a Division of the
                Ministry of Education. Its office was located at Bagamoyo where there was a plan of establishing a
                School of Archeology and was intended that the Division would be incorporated into the School of
                Archaeology once it could be established. The School, however, was not established and the Division
                Antiquities offices were late on in 1960 shifted to Dar es Salaam.
            </div>
            <div class="content">
                In 1962, two important changes in Cultural heritage were introduced. First, there was an establishment
                of Ministry to deal with this Cultural Sector which was called the Ministry of National Culture and
                Youth. Secondly, King George V Memorial Museum changed to be the National Museum Psysichology
            </div>
            <div class="content">
                The legislation to protect and preserve the Antiquities of this country still remained the Monuments
                Preservation Ordinance of 1937. Under this Ordnance, the legal power was given to the Colonial Governor
                in the Councils. However, the ordinance did not clearly explain the types of objects or structures
                required to be protected though in general it started that such objects, structures, and area should be
                of historic, archeological and Scientific Significance. This ordinance remained the only Legislation of
                Antiquities until 1964 when the Antiquities Act No. 10 of 1964 was passed by the National Assembly.
            </div>
            <div class="content">
                This act though repealing the 1937 ordinance was an extension of the ordinance embodying the basic
                principles of the ordinance as well as expanding its scope enabling Legislation on Antiquities to be
                more comprehensive and up to up to date.
            </div>
            <div class="content">
                The Antiquities Act No. 10 of 1964 was amended in 1979 (by amended Act No. 22 of 1979) This was followed
                by Subsidiary Legislation on protected Objects Monuments No. 13 of 1981 and by another Subsidiary
                Legislation on conduct of Excavations and Access to Monument Rules (1991).
            </div>
            <br /><br>
            <h3>
                LEADERSHIP
            </h3>
            <hr class="about_line" />
            <div class="content">
                Since its establishment, The Division of Antiquities has gone through different leadership and
                ministries as follows:-
            </div>
            <div class="content">
                <h3>
                    1. Directors
                </h3>
                <table mat-table [dataSource]="dataSourceDirectors" class="mat-elevation-z8 director-table">


                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Start Year Column -->
                    <ng-container matColumnDef="start">
                        <th mat-header-cell *matHeaderCellDef> Start Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.start}} </td>
                    </ng-container>

                    <!--End Year Column -->
                    <ng-container matColumnDef="end">
                        <th mat-header-cell *matHeaderCellDef> End Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.end}} </td>
                    </ng-container>

                    <!-- Name -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Title -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDirectors"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsDirectors;"></tr>
                </table>

            </div>
            <div class="content">
                <h3>
                    2. Ministries
                </h3>
                <table mat-table [dataSource]="dataSourceMinistries" class="mat-elevation-z8 director-table">


                    <!-- Start Year Column -->
                    <ng-container matColumnDef="start">
                        <th mat-header-cell *matHeaderCellDef> Start Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.start}} </td>
                    </ng-container>

                    <!--End Year Column -->
                    <ng-container matColumnDef="end">
                        <th mat-header-cell *matHeaderCellDef> End Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.end}} </td>
                    </ng-container>

                    <!-- Name -->
                    <ng-container matColumnDef="ministry">
                        <th mat-header-cell *matHeaderCellDef> Ministry </th>
                        <td mat-cell *matCellDef="let element"> {{element.ministry}} </td>
                    </ng-container>

 

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsMinistries"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsMinistries;"></tr>
                </table>

            </div>
            
           
            
        </div>
    </div>

    <!-- links components -->
    <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="about-links">
            <div class="img-container" *ngFor="let card of cards">
                <div style="background-image: url('{{card.img}}'); " class="link">
                    <div class="link-content">
                        {{card.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>