<div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="article-img">
        </div>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="article-details">
            <h2>WIZARA YA MALIASILI</h2>
            <h4>
                The illegal wildlife trade is a multi-billion dollar global 
                industry largely driven by consumer demand in expanding economies. 
            </h4>
            <a href="#" style="color:darkgreen; font-size: 20px; margin-top: 30px; text-decoration: underline; font-weight: bold;">READ MORE</a>
        </div>
    </div>
</div>
