<div class="row no-gutters row-footer-main">
  <div class="col col-footer-main">
    <div class="row">
      <div class="col social_media">
        <a href="" class="me-4">
          <i class="fa fa-facebook-f fa-2x"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-google fa-2x"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
      </div>
    </div>
    <div class="row row-links">
      <div class="col-md-3 col-lg-3 col-xl-3 col-links">
        <div class="link-header">
          <h2>Attractions</h2>
          <hr />
        </div>
        <div class="links">
          <p><a  routerLink="/attractions/mapori" >Mapori</a></p>
          <p><a  routerLink="/attractions/hifadhi">Hifadhi</a> </p>
          <p><a routerLink="/attractions/malikale">Malikale</a></p>
          <p><a routerLink="/attractions/misitu">Misitu</a></p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 col-links">
        <div class="link-header">
          <h2>Sub-Sectors</h2>
          <hr />
        </div>
        <div class="links">
          <p><a href="#">Tourism</a> </p>
          <p><a href="#">WildLife</a> </p>
          <p><a href="#">Beekeeping and Forestry</a> </p>
          <p><a href="#">Antiquities</a> </p>

        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="link-header">
          <h2>RELATED Links</h2>
          <hr />
        </div>
        <div class="links">
          <p><a href="http://www.tanzaniaparks.com/">Tanzania National Parks</a></p>
          <p><a href="http://www.tafori.or.tz/">Tanzania Forestry Research Institute-TAFORI</a></p>
          <p><a href="http://www.tfs.go.tz/">Tanzania Forest Service (TFS) Agencys</a></p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="link-header">
          <h2>Contact Us</h2>
          <hr />
        </div>
        <div class="links">
          <p><i class="fa fa-home mr-3"></i> Wizara ya Maliasili na Utalii,<br />
            Barabara ya Waziri Mkuu,<br />
            S. L. P 1351,<br />
            40472, Dodoma, Tanzania
          </p>
          <p><i class="fa fa-envelope mr-3"></i> ps@maliasili.go.tz</p>
          <p><i class="fa fa-phone mr-3"></i> +255 22 2861870 /1/2/3/</p>
          <img src="/assets/images/Unforgettable-Logo.png" width="100%" height="auto" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-footer">
  <div class="col">
    MNRT © 2021 
  </div>
</div>


