<div >
    <div class="client-count-wrp mt-100 ">
        <div class="container">
            <div class="row client-count-wrp-inner">
                <div class="col cards">
                    <h4>{{game_reserved}}</h4>
                    <p>Game Reserved</p>
                </div>
                <!--card-->
                <div class="col cards">
                    <h4>{{ramsa}}</h4>
                    <!--concat % sign-->
                    <p>Ramsa</p>
                </div>
                <!--card-->
                <div class="col cards" fxHide.lt-sm fxHide.sm>
                    <h4>{{hotels}}</h4>
                    <p>Hotels</p>
                </div>
                <!--card-->
                <div class="col cards" fxHide.lt-sm fxHide.sm>
                    <h4>{{forests}}</h4>
                    <p>Forests</p>
                </div>
                <!--card-->
            </div>
        </div>
    
    </div>
</div>