<!-- Sections-->
<ng-container *transloco="let t; scope:'home'">
    <div class="row no-gutters section_row">
      <div class="section_row_title">
        <h2>{{'vijisekta.KICHWA2' | transloco}}</h2>
        <hr class="section_header_line" />
      </div>
    </div>
    <div class="row no-gutters section-detail-row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div style="background-image: url('/assets/images/tourism/zanzibar.jpg'); " class="sectors-img" routerLink="/tourism">
                <div class="sectors-img-content">
                    <div>
                        <h2>{{'vijisekta.TOU' | transloco}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div style="background-image: url('/assets/images/wildlife/lion2.jpg'); " class="sectors-img" routerLink="/wildlife">
                <div class="sectors-img-content">
                    <div>
                        <h2>{{'vijisekta.WILD' | transloco}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div style="background-image: url('/assets/images/antiquities/kilwa.jpg'); " class="sectors-img" routerLink="/antiquities">
                <div class="sectors-img-content">
                    <div>
                        <h2>{{'vijisekta.ANTIQ' | transloco}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-3 col-md-3 col-lg-3">
            <div style="background-image: url('/assets/images/bees/bees3.jpg'); " class="sectors-img" routerLink="/bees">
                <div class="sectors-img-content">
                    <div>
                        <h2>BEEKEEPING</h2>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div style="background-image: url('/assets/images/beehives.jpg'); " class="sectors-img" routerLink="/forest">
                <div class="sectors-img-content">
                    <div>
                        <h2>{{'vijisekta.FORBEE' | transloco}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-3 col-md-4 col-lg-4">
            <div style="background-image: url('/assets/images/jeshi_usu.jpg'); " class="sectors-img" >
                <div class="sectors-img-content">
                    <div>
                        <h2>PARAMILITARY</h2>
                    </div>
                </div>
            </div>
        </div> -->
    </div>



    
</ng-container> 