<mat-card>
    <div class="heading">
        <h2>Leaders</h2>
        <hr />
    </div>
    <mat-card-content>
        <div>
            <button class="add" mat-button (click)="onAdd()">
                <mat-icon style="font-size: xx-large !important;">add_circle</mat-icon>
            </button>
        </div>
        <div class="filter">
            <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Filter" class="form-control">
        </div>
        <mat-table [dataSource]="leadersArray" matSort #leaderstable>
            <ng-container matColumnDef="sn">
                <mat-header-cell *matHeaderCellDef> SN </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="leader_pic">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Picture </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <img src="{{element.picture}}" width="100px" height="100px">
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="leader_name">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.leader_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="leader_title">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Title </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.leader_title}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="start_date">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Start </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.start_date}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="end_date">
                <mat-header-cell mat-sort-header *matHeaderCellDef> End </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.end_date}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-icon [matMenuTriggerFor]="menu" style="cursor: pointer;">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onView(row)">
                            <mat-icon>visibility</mat-icon>
                            <span>View</span>
                        </button>
                        <button mat-menu-item (click)="onDelete(row)">
                            <mat-icon style="color: red !important;">delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button mat-menu-item (click)="onUpdate(row)">
                            <mat-icon>update</mat-icon>
                            <span>Update</span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="leadersdisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: leadersdisplayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="leadersArray.data.length" [pageSizeOptions]="[5,10,15,20]" [pageIndex]="0"
            [pageSize]="10" showFirstLastButtons></mat-paginator>

    </mat-card-content>
</mat-card>
