
<div class="row no-gutters">
    <div class="col">
        <div style="background-image: url('{{about.img}}');" class="about-img" routerLink="{{about.link}}">
            <div class="about-content">
                <h2>{{about.heading}}</h2>
                <hr class="about_header_line" />
                <h4>
                    {{about.content}}
                </h4>
                <button routerLink="{{about.link}}" mat-flat-button class="button" >READ MORE</button>
            </div>
        </div>
    </div>
</div>
